<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> | <a class="c-hand" @click="showModal=true">About</a>
    </div>
    <router-view/>
    <about
    v-show="showModal"
    @close="closeModal"/>
  </div>
</template>

<script>
import about from './views/About.vue'
export default {
    components: { about },
    data() { return{
        showModal: false,
        }
    },
    methods:{
      closeModal() {
        this.showModal = false;
      },
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
